@import url(https://fonts.googleapis.com/css?family=Exo+2:400,700,500,300);

body {
  background: #ebeff2;
  font-family: "Exo 2";
}
.drag h1 {
  font-size: 20px;
  margin-top: 2px;
}

.drag h2 {
  font-size: 15px;
}
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  font-size: 1.7em;
  /* font-weight: 700; */
  color: rgba(238, 73, 8, 0.918);
  background-color: white;
  display: inline-block;
  cursor: pointer;
  width: 300px;
  height: 35px;
  padding: 10px;
  align-items: center;
}

.inputfile:focus + label,
.zone {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: radial-gradient(ellipse at center, #eb6a5a 0, #c9402f 100%);
  width: 90%;
  height: 70%;
  border: 5px dashed white;
  text-align: center;
  color: white;
  z-index: 20;
  transition: all 0.3s ease-out;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.05),
    inset 0 0 0.25em 0 rgba(0, 0, 0, 0.25);
  .btnCompression {
    .btn {
    }
    .active {
      background: #eb6a5a;
      color: white;
    }
  }
  i {
    text-align: center;
    font-size: 10em;
    color: #fff;
    margin-top: 50px;
  }

  label,
  input {
    cursor: pointer;
    display: block;
    height: 50px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    border-radius: 5px;
  }

  label {
    background: #fff;
    color: #eb6a5a;
    display: inline-block;
    font-size: 1.2em;
    line-height: 50px;
    padding: 0;
    text-align: center;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 400;
    box-shadow: 0 1px 1px gray;
  }

  input[type="file"] {
    opacity: 0;
  }
}
.zone.in {
  color: white;
  border-color: white;
  background: radial-gradient(ellipse at center, #eb6a5a 0, #c9402f 100%);
  i {
    color: #fff;
  }
  label {
    background: #fff;
    color: #25a565b2;
  }
}
.zone.hover {
  color: gray;
  border-color: white;
  background: #fff;
  border: 5px dashed gray;
  i {
    color: #eb6a5a;
  }
  label {
    background: #fff;
    color: #25a565b2;
  }
}
.zone.fade {
  transition: all 0.3s ease-out;
  opacity: 1;
}

.videoplayer {
  align-items: center;
}

button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  margin-top: 10px;
}
