@import url(https://fonts.googleapis.com/css?family=Exo+2:400,700,500,300);

.header img {
  float: left;
  width: 200px;
  height: 80px;
  background: #555;
  border-bottom: #bdc3c7 2px solid;
}
.iconImage > i {
  width: 300px;
  height: 100px;
}
.fa-cloud-upload:before {
  font-size: 250px;
}
.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
  color: #1abc9c;
  border-bottom: #bdc3c7 2px solid;
}
body {
  background: #ffffff;
  font-family: "Exo 2";
}

.drag h1 {
  font-size: 25px;
  margin-top: -200px;
}

.drag h2 {
  font-size: 20px;
}
[type="file"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}

[type="file"] + label {
  font-size: 1.7em;
  /* font-weight: 700; */
  color: black;
  background-color: white;
  display: inline-block;
  cursor: pointer;
  width: 300px;
  height: 35px;
  padding: 10px;
  align-items: center;
  border-radius: 30px;
}

.zone {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin-top: 120px;
  background: radial-gradient(ellipse at center, #47daa1f5 0, #1abc9c 100%);
  width: 70%;
  border-radius: 30px;
  height: 80%;
  border: 5px dashed white;
  text-align: center;
  color: white;
  z-index: 20;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.05),
    inset 0 0 0.25em 0 rgba(0, 0, 0, 0.25);

  input[type="file"] {
    opacity: 0;
  }
}

video {
  margin: auto;
  width: 70%;
  height: 70%;
  border: 3px solid green;
  padding: 10px;
  display: block;
  margin-bottom: 0;
}

button {
  background-color: #1b3cce; /* Green */
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin-top: 10px;
  border-radius: 30px;
  width: 200px;
  cursor: pointer;
}

.wrapper {
  max-width: 64rem;
  width: 100%;
  margin: 0 auto;
}
.tabs {
  position: relative;
  margin: 1rem 0;
  background: #1abc9c;
}
.tabs::before,
.tabs::after {
  content: "";
  display: table;
}
.tabs::after {
  clear: both;
}
.tab {
  float: left;
}
.tab-switch {
  display: none;
}
.tab-label {
  position: relative;
  display: block;
  line-height: 2.75em;
  height: 3em;
  padding: 0 1.618em;
  background: #1abc9c;
  border-right: 0.125rem solid #16a085;
  color: #fff;
  cursor: pointer;
  top: 0;
  transition: all 0.25s;
}
.tab-label:hover {
  top: -0.25rem;
  transition: top 0.25s;
}
.tab-content {
  position: absolute;
  z-index: 1;
  top: 2.75em;
  left: 0;
  padding: 1.618rem;
  background: #fff;
  color: #2c3e50;
  border-bottom: 0.25rem solid #bdc3c7;
  opacity: 0;
  transition: all 0.35s;
  width: 100%;
}
.tab-switch:checked + .tab-label {
  background: #fff;
  color: #2c3e50;
  border-bottom: 0;
  border-right: 0.125rem solid #fff;
  transition: all 0.35s;
  z-index: 1;
  top: -0.0625rem;
}
.tab-switch:checked + label + .tab-content {
  z-index: 2;
  opacity: 1;
  transition: all 0.35s;
}

.download {
  width: 200px;
  margin: 10px;
  margin-left: 350px;
  margin-top: 50px;
  background: #1abc9c;
}

.drop-zone {
  margin: auto;

  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  width: 60%;
  height: 80%;
  margin-top: 20px;
  text-align: center;
  color: white;
  z-index: 20;

  input[type="file"] {
    opacity: 0;
  }
}

.drop-zone--over {
  border-style: solid;
  background-color: #bdc3c760;
}

.drop-zone__input {
  display: none;
}

.drop-zone__thumb {
  width: 100%;
  height: 90%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #cccccc;
  background-size: cover;
  position: relative;
}

.drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  text-align: center;
}

.area {
  background: #ffffff;
  background: -webkit-linear-gradient(to left, #ffffff, #dad8d8f1);
  width: 100%;
  height: 100vh;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: #1abc9c;
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
